@import './variables.scss';

@mixin full-screen() {
  position: absolute;
  top: 0;
  left: 0;
  min-height: -webkit-fill-available;
  height: -webkit-fill-available;
  width: 100vw;
  overflow: auto;
  padding: 20px;
}

@mixin theme() {
  background: $black;
  color: $grey;
}

@mixin input() {
  outline: none;
  background: none;
  color: $grey;
  border: none;
  text-align: center;
  padding: 5px 0;
  border-bottom: 2px $grey solid;
  width: 250px;
  margin: 10px 0;
  font-style: italic;
  font-size: 1.25rem;
}

@mixin button() {
  color: $red;
  outline: none;
  border: none;
  background: none;
  font-size: $button-font-size;
  cursor: pointer;
}
